<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 Marco Comerci. All rights reserved.
  ~ License: hhttps://opensource.org/licenses/MIT  MIT License
  ~ Author: Marco Comerci <marco.comerci@gmail.com>
  ~ Package: Laramage_Blade
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="blade" xsi:type="string">\Laramage\Blade\View\TemplateEngine\Blade</item>
            </argument>
        </arguments>
    </type>

</config>